/* ==========
Bulma
========== */
@charset "utf-8";

// primaryカラーの変更
$primary: #0c401c;
$footer-background-color: darken($primary, 2.5%) !important;

// Import only what you need from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/layout/hero.sass";
@import "../bulma/sass/layout/footer.sass";
@import "../bulma/sass/layout/section.sass";

/* ==========
END Bulma
========== */

/* ==========
layout
========== */

// Google Font
body,
button {
    font-family: "Noto Sans JP";
}

// 訪問済みリンクの色を設定。（通常時と同じ色に変更。）
a:visited and :not(a.navbar-item) {
    color: #485fc7;
}

// リンクにhoverしたときの色の設定。
a:hover {
    color: #ff78a0;
}

/* ==========
END layout
========== */


/* ==========
header
========== */

// navigation   
.navbar-item .logo-type {
    max-height: 40px;
}

/* ==========
END header
========== */


/* ==========
パスワード表示切替ボタン
========== */

// パスワード表示切替用faがクリック（タップ）できるよう変更。
#buttonEye,
#buttonEye1,
#buttonEye2,
#buttonEye3 {
    pointer-events: auto;
}

// パスワード表示切替用faにhoverしたときに色を灰色にする。
.fa-eye:hover,
.fa-eye-slash:hover {
    color: #4a4a4a;
}

/* ==========
END パスワード表示切替ボタン
========== */


/* ==========
table
========== */

// table-container PCの場合画面の幅の80%を利用。
@media screen and (min-width: 769px) {
    .table-container {
        width: 80%;
        margin: 0 auto;
    }
}

// table-container モバイルの場合画面の幅の95%を利用。
@media screen and (max-width: 768px) {
    .table-container {
        width: 95%;
        margin: 0 auto;
    }
}

// テーブルの幅を固定。
.plant-list {
    table-layout: fixed;
    width: 100%;
}

// tdの要素を上下中央ぞろえ。
.plant-list>tbody>tr>td {
    vertical-align: middle;
}

// 植物の画像の設定。
.plant-list-image {
    padding: 0 !important;
    text-align: center !important;
    height: 100px;
    width: 100px;
}

.plant-list-image>img {
    height: 100px;
    object-fit: cover;
    display: block;
}

// 植物の説明の設定。
.plant-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 水やり状態の要素の幅を指定。
.plant-list-watering {
    width: 128px;
}

// 水やりボタンのホバー時にテキストの色を変更。
.toggle-watering-complete:hover {
    .fas {
        color: white;
    }
}

// 詳細画面へのリンクの設定。
.detail-link {
    color: #4a4a4a;
}

.detail-link:visited {
    color: #4a4a4a;
}

.detail-link:hover {
    color: #ff78a0;
}

/* ==========
END table
========== */


/* ==========
plant detail
========== */

// 植物の画像の設定。
#plant-image-container {
    width: 200px;
    height: 200px;
}

// 水やりボタンの設定。
.detail-watering-button {
    width: 171px !important;
}

// 関連urlの設定。
.related-url-container {
    margin: 10px 0;
}

.related-url {
    display: inline-block;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
}

/* ==========
END plant detail
========== */