{% extends 'base.html' %}

{% block title %}{{ block.super }}404{% endblock %}

{% block head %}
<meta http-equiv='refresh' content=" 10; url={% url 'plant_management:list' %}" />
{% endblock %}

{% block main %}
<div class='hero is-fullheight-with-navbar'>
    <div class='hero-body'>
        <div class="container">
            <h1 class='title'>404 ページが存在しません。</h1>
            <p class='sub-title'>存在しないページにアクセスしました。urlが正しいかお確かめください。</p>
            <p class='sub-title'>
                10秒後に自動的に<a class='has-text-link' href="{% url 'plant_management:list' %}">一覧ページ</a>へリダイレクトされます。
            </p>
        </div>
    </div>
</div>
{% endblock %}