{% load static %}

<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8' />
    <meta name='robots' content='noindex' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap' rel='stylesheet' />
    <link rel='stylesheet' href="{% static 'css/sanitize.css' %}">
    <link rel='stylesheet' href="{% static 'fa/css/all.min.css' %}" />
    <link rel='stylesheet' href="{% static 'css/bulma.css' %}" />
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
    <title>{% block title %}にわかん - {% endblock %}</title>
    <link rel='shortcut icon' href="{% static 'img/favicon.png' %}" type='image/x-icon' />
    <!-- PWA -->
    <link rel='manifest' href="{% static 'pwa/manifest.json' %}" />
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register("{% url 'sw.js' %}").then(
                    function (registration) {
                        // Registration was successful
                        console.log(
                            'ServiceWorker registration successful with scope: ',
                            registration.scope
                        );
                    },
                    function (err) {
                        // registration failed :(
                        console.log(
                            'ServiceWorker registration failed: ',
                            err
                        );
                    }
                );
            });
        }
    </script>
    <!-- END PWA -->
    {% block head %}
    {% endblock %}
</head>

<body class='has-navbar-fixed-top'>
    <!-- header -->
    <header>
        <nav class='navbar is-primary is-fixed-top'>
            <div class='navbar-brand'>
                <div class='navbar-burger' data-target='navbarExampleTransparentExample'>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- navigation menu -->
            <div id="navbarExampleTransparentExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'plant_management:list' %}" class="navbar-item icon-text">
                        <span class="icon">
                            <i class="far fa-list-alt"></i>
                        </span>
                        <span>
                            一覧
                        </span>
                    </a>
                    <a href="{% url 'plant_management:add' %}" class="navbar-item icon-text">
                        <span class="icon">
                            <i class="far fa-plus-square"></i>
                        </span>
                        <span>
                            追加
                        </span>
                    </a>
                    <!-- other dropdown -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <p class="navbar-link">
                            <span>その他</span>
                        </p>
                        <div class="navbar-dropdown is-boxed">
                            <!-- FAのアイコンのところで改行されないように、15文字(15em)文のwidthを持つ要素を挿入。 -->
                            <span class="navbar-item p-0" style="width:15em;"></span>
                            <a class="navbar-item icon-text pr-0" href="#">
                                <span class="icon">
                                    <i class="fas fa-comments"></i>
                                </span>
                                <span>
                                    問い合わせ(未)
                                </span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item icon-text pr-0" href="#">
                                <span class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span>
                                    このアプリについて(未)
                                </span>
                            </a>
                            <a class="navbar-item icon-text pr-0" href="https://github.com/AikawaShota/garden-management" target="_blank" rel="noopener noreferrer">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>
                                    ソースコード
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- END other dropdown -->
                </div>
                <div class="navbar-end">
                    <!-- user dropdown -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <p class="navbar-link icon-text">
                            <span class="icon mt-1 mr-0">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>ユーザー</span>
                        </p>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item icon-text pr-0" href="#">
                                <span class="icon">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                                <span>
                                    ユーザ情報(末)
                                </span>
                            </a>
                            <a class="navbar-item icon-text pr-0" href="{% url 'authentication:logout' %}">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>
                                    ログアウト
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- END user dropdown -->
                </div>
            </div>
            <!-- END navigation menu -->
        </nav>
    </header>
    <!-- END header-->

    <!-- main -->
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <!-- END main -->

    <!-- footer -->
    <footer class='footer has-background-primary'>
        <div class='content has-text-centered has-text-warning-light'>
            <p>&copy; 2023 Aikawa Shota.</p>
        </div>
    </footer>
    <!-- END footer -->
</body>

<script src="{% static 'js/scripts.js' %}"></script>

{% block scripts %}
{% endblock %}

</html>