{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>にわかん</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
    <!-- PWA -->
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}" />
    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", function () {
                navigator.serviceWorker.register('{% url "sw.js" %}').then(
                    function (registration) {
                        // Registration was successful
                        console.log(
                            "ServiceWorker registration successful with scope: ",
                            registration.scope
                        );
                    },
                    function (err) {
                        // registration failed :(
                        console.log(
                            "ServiceWorker registration failed: ",
                            err
                        );
                    }
                );
            });
        }
    </script>
    <!-- END PWA -->
    {% block head %}
    {% endblock %}
</head>

<body class="has-navbar-fixed-top">
    <!-- header -->
    <header>
        <nav class="navbar is-transparent is-dark is-fixed-top">
            <div class="navbar-brand">
                <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    </header>
    <!-- END header-->

    <!-- main -->
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <!-- END main -->
    <!-- footer -->
    <footer class="footer has-background-dark">
        <div class="content has-text-centered has-text-warning-light">
            <p>&copy; 2023 Aikawa Shota.</p>
        </div>
    </footer>
    <!-- END footer -->

</body>
<script src="{% static 'js/scripts.js' %}"></script>
{% block scripts %} {% endblock %}

</html>