{% extends 'base.html' %}

{% block title %}{{ block.super }}ログアウト{% endblock %}

{% block head %}
<meta http-equiv='refresh' content=" 5; url={% url 'authentication:login' %}" />
{% endblock %}

{% block main %}
<div class='hero is-fullheight-with-navbar'>
    <div class='hero-body'>
        <div class="container">
            <h1 class='title'>正常にログアウトされました。</h1>
            <p class='subtitle'>
                5秒後に自動的に<a class='has-text-link' href="{% url 'authentication:login' %}">ログインページ</a>へリダイレクトされます。
            </p>
        </div>
    </div>
</div>
{% endblock %}