{% extends 'base.html' %}
{% block title %}{{ block.super }}パスワードリセット{% endblock %}

{% block main %}
<div class="hero is-fullheight-with-navbar">
    <div class="container is-max-desktop">
        <section class="px-6 pt-6 pb-3">
            <h1 class="title is-3">パスワードリセット受付フォーム</h1>
            <p class="sub-title has-text-danger">
                入力されたアドレスに対してパスワードリセット用URLを送信します。
            </p>
        </section>
        <!-- form -->
        <form method="post">
            {% csrf_token %}
            <section class="px-6 pb-3">
                <p class="has-text-danger">
                    {{ form.non_field_errors }}
                </p>
            </section>
            <section class="px-6 pb-6">
                <div class="field mb-5">
                    <label for="" class="label">メールアドレス</label>
                    <div class="control has-icons-left">
                        {{ form.email }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <p class="help">"にわかん"に登録したメールアドレスを入力してください。</p>
                    <ul>
                        {% for error in form.email.errors %}
                        <li class="has-text-danger is-size-7">・{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="px-6 pb-6">
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info is-outlined">
                            送信
                        </button>
                    </div>
                    <div class="control">
                        <button type="button" onclick="location.href=`{% url 'authentication:login' %}`"
                            class="button is-outlined">キャンセル</button>
                    </div>
                </div>
            </section>
        </form>
        <!-- END form -->
    </div>
</div>
{% endblock %}