{% extends 'base.html' %}

{% block title %}{{ block.super }}削除確認{% endblock %}

{% block main %}
<div class='hero is-fullheight-with-navbar'>
    <div class='container is-max-desktop'>
        <form method="post">
            {% csrf_token %}
            <p>「{{ object }}」を削除しようとしています。</p>
            <p>削除した植物は元に戻すことはできません。</p>
            <p>削除する場合は確定ボタンを押してください。</p>
            <button class='button is-info is-outlined' type='submit'>確定</button>
            <button type='button' class='button is-outlined'
                onclick="location.href=`{% url 'plant_management:detail' pk=object.plant_id %}`">キャンセル</button>
        </form>
    </div>
</div>
{% endblock %}