{% extends "base.html" %}

{% block title %}{{ block.super }}削除確認{% endblock %}

{% block main %}
<div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <form method="post">
                {% csrf_token %}
                <h1 class="title">「{{ object }}」を削除しようとしています。</h1>
                <h3 class="subtitle has-text-danger mb-0 mt-5">削除した植物は元に戻すことはできません。</h3>
                <h3 class="subtitle">削除する場合は確定ボタンを押してください。</h3>
                <button class="button is-info is-outlined" type="submit">確定</button>
                <button type="button" class="button is-outlined"
                    onclick="location.href=`{% url 'plant_management:detail' pk=object.plant_id %}`">キャンセル</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}