{% extends 'base.html' %}

{% block title %}{{ block.super }}関連URL追加{% endblock %}

{% block main %}
<div class='hero is-fullheight-with-navbar'>
    <div class='container is-max-desktop'>
        <section class='px-6 pt-6 pb-3'>
            <h1 class='title is-3'>{{ plant_name }}の関連URL追加フォーム</h1>
        </section>
        <!-- form -->
        <form method='POST'>
            {% csrf_token %}
            <section class='px-6 pb-3'>
                <p class="has-text-danger">
                    {{ form.non_field_errors }}
                </p>
            </section>
            <section class='px-6 pb-6'>
                <div class="field">
                    <label class="label">名前（サイト名など）</label>
                    <div class="control has-icons-left">
                        {{ form.name }}
                        <span class='icon is-small is-left'>
                            <i class='fas fa-seedling'></i>
                        </span>
                    </div>
                    <p class='help'>2047文字以下。</p>
                    <ul>
                        {% for error in form.name.errors %}
                        <li class='has-text-danger is-size-7'>・{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="field">
                    <label class="label">URL</label>
                    <div class="control has-icons-left">
                        {{ form.url }}
                        <span class='icon is-small is-left'>
                            <i class="fas fa-link"></i>
                        </span>
                    </div>
                    <p class='help'>2047文字以下。</p>
                    <ul>
                        {% for error in form.url.errors %}
                        <li class='has-text-danger is-size-7'>・{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class='px-6 pb-6'>
                <div class='field is-grouped'>
                    <div class='control'>
                        <button type='submit' class='button is-info is-outlined'>
                            追加
                        </button>
                    </div>
                    <div class='control'>
                        <button type='button' onclick='history.back()' class='button is-outlined'>キャンセル</button>
                    </div>
                </div>
            </section>
        </form>
        <!-- END form -->
    </div>
</div>
{% endblock %}